# ---------- Banco do Zabbix ----------
POSTGRES_USER=zabbix
POSTGRES_PASSWORD=123
POSTGRES_DB=zabbix

# ---------- Grafana ----------
GRAFANA_USER=admin
GRAFANA_PASSWORD=admin

# ---------- Fuso horário ----------
TZ=America/Sao_Paulo

